.header
{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

#scroller {
    position: relative;
}
#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}
.emojis{
  width: 200px;
  height: 200px;
}

.innerScrollArea{
width: 200px;
top: 100px;
left: 10px;
width: 200px;
position: absolute;
float: left;
}

#body_index {
background-image: url(https://s-media-cache-ak0.pinimg.com/736x/93/76/82/937682649cb79ba7f9dc3a2f455d0229.jpg);
background-size: cover;
background-attachment: fixed;
}

#home_page_gifs
{
  text-align: center;
   height: 580px;
   width: 1050px;
   margin-left: auto;
   margin-right: auto;
}

.home_gifs
{
  height: 200px;
  padding: 35px;
  border: 10px;
  border-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  margin: 10px;
}

#to_the_back
{
  position: absolute;
  right: 100px;
  left: 240px;
  top: 0px;
  z-index: -1;
}

#lit_left
{

  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;

  position: fixed !important;
  width: 200px;
  height: 90%;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 10px 10px 10px;
  border: 6px double rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  line-height: 38px;
  letter-spacing: 0px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.lit_images
{
  width: 370px;
  height: 230px;
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 3px;

}


#lit_middle
{

  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;

  border: 4px outset rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  float: left;
  max-width: 50%;
  overflow-x: hidden;
  height: 80%;
  width: 410px;
  padding: 0px;
  margin-left: 257px;
  margin-top: 12px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.2);

  display: block;
}

#lit_right
{
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;

  position: fixed !important;
  width: 200px;
  height: 90%;
  margin-top: 10px;
  margin-left: 690px;
  padding: 10px 10px 10px 10px;
  border: 6px double rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  line-height: 38px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
#lit_quote
{
  font-family: "Fjalla One";
  font-size:17px;
  height: 63%;
  width: 88%;
  overflow: auto;
  border: 2px outset rgba(255, 255, 255, 0.3);

  background-color: rgba(0, 0, 0, 0.08);
  color:white; scrollbar-base-color: white;
  line-height: 22px;
  padding:10px;
}

#lit_center
{
  margin: auto;
  position: relative;
  width: 840px;
  overflow: auto;
  overflow-y: hidden;
}

#lit_body
{
  /*background-image: url(http://www.egg-tooth.com/wp-content/uploads/2014/01/clean-white-polygon-backgrounds-2.jpg);*/
  background-image: url(https://s-media-cache-ak0.pinimg.com/236x/7a/30/2b/7a302b72dd18efb346c5de88f75fd218.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.beat_pad
{
  margin-left: auto;
  margin-right: auto;
  height: 630px;
  width: 640px;
  padding: 2px solid white;
  border: 2px solid black;
}

.pad
{
  height: 200px;
  width: 200px;
  margin: 3px;
  padding: 2px solid white;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
}

#p1
{
  background: blue;
}

#p2
{
  background: red;
}

#p3
{
  background: yellow;
}

#p4
{
  background: green;
}

#p5
{
  background: purple;
}

#p6
{
  background: indigo;
}

#p7
{
  background: lavender;
}

#p8
{
  background: pink;
}

#p9
{
  background: cyan;
}

.text
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
