.header
{
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 60px;
  text-align: center;
}

#litleft
{

  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;

  position: fixed !important;
  width: 200px;
  height: 90%;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  border: 3px dotted rgba(74, 145, 227, 0.5);
  line-height: 10px;
  letter-spacing: 0px;
  margin-bottom: 20px;
  background-color: rgba(143, 154, 255, 0.68));

}

#litright
{
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 30px;
  text-align: center;

  position: fixed !important;
  width: 200px;
  height: 90%;
  margin-top: 10px;
  margin-left: 635px;
  padding: 10px 10px 10px 10px;
  border: 3px dotted rgba(74, 145, 227, 0.5);
  line-height: 10px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  background-color: rgba(143, 154, 255, 0.68));


}
#litcenter
{
  margin: auto;
  position: relative;
  width: 840px;
  overflow: auto;
  overflow-y: hidden;
