<!DOCTYPE html>
<html>
<head>
  <title>{{ mood }} Generator</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="style">
</head>
<body id="happy_body">
  <a href="/">
    <h1 class="banner">Mood Generator<h1>
  </a>

  <div id="lit_center">
    <div id="happy_left">
      <p>JAM TO<br>UPBEAT SONGS </p>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A3xgbBiNc7mh3erYsCl8Fwg" width="260" height="70%" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div id="happy_right">
      <p>READ MOTIVATING QUOTES</p>
      <div id="happy_quote">
        <!-- Quotes go here!! -->
        "The most important thing is to enjoy your life - to be happy - it's all that matters." -AUDREY HEPBURN<br>
        <br>
        "I just find myself happy with the simple things. Appreciating the blessings God gave me." -DMX<br>
        <br>
        "If you want to be happy, be." -LEO TOLSTOY<br>
        <br>
        "The purpose of our lives is to be happy" -DALAI LAMA<br>
        <br>
        "Be happy for this moment. This moment is your life." -OMAR KHAYYAM<br>
        <br>
        "Think of all the beauty still left around you and be happy." -ANNE FRANK<br>
        <br>
        "Most folks are as happy as they make up theier minds to be." -ABRAHAM LINCOLN<br>
        <br>
        "Being happy never goes out of style." -LILY PULITZER<br>
        <br>

          </div>
          <br>
          <a href="/feedback">
            <img class="feedback_button" src="https://digitalmarketing.blob.core.windows.net/5941/files/Feedback_Button.png">
          </a>
      </div>
    <div id="happy_middle">
      <p>GOOD VIBES</p>
      <img class="lit_images" src="http://bestanimations.com/Holidays/Fireworks/fireworks-animation-46.gif">

      <iframe class="lit_images" src="https://www.youtube.com/embed/y6Sxv-sUYtM?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

      <img class="lit_images" src="http://25.media.tumblr.com/tumblr_m5rk8eyqyF1rw9bk6o2_500.gif">
      <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">what really happens at Google <a href="https://t.co/D47qRDZ6gw">pic.twitter.com/D47qRDZ6gw</a></p>&mdash; Natalee Ryan (@nataIee) <a href="https://twitter.com/nataIee/status/758016697651593216">July 26, 2016</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <img class="lit_images" src="https://66.media.tumblr.com/e1c85a2056f00bf0b9ce5b9dccbebc61/tumblr_n3f4sxwM8E1smqfiko1_500.gif">
      <img class="lit_images" src="http://stream1.gifsoup.com/view1/20140102/4941953/android-animation-o.gif">
      <img class="lit_images" src="http://31.media.tumblr.com/49f218ec6dae0ec184b8b98bcc39f2f3/tumblr_njedfjnPkR1sjeyq0o1_500.gif">
      <img class="lit_images" src="http://24.media.tumblr.com/a8d264dd1aae455fcb06a63137154b4b/tumblr_n15j08KLEj1rncdgao1_500.gif">
      <img class="lit_images" src="http://i.imgur.com/JU2I02A.gif">
      <img class="lit_images" src="http://i.imgur.com/W6EGKvy.gif">
      <img class="lit_images" src="https://media.giphy.com/media/sRMOex2QNILS/giphy.gif">
      <iframe class="lit_images" src="https://www.youtube.com/embed/bMpFmHSgC4Q?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      <img class="lit_images" src="https://67.media.tumblr.com/9d64e785a6d8a62bc744e49922d56ddb/tumblr_nvc6pj6aE41rvv69co1_500.gif">
      <img class="lit_images" src="https://media.giphy.com/media/WWYSFIZo4fsLC/giphy.gif">
      <img class="lit_images" src="http://media1.giphy.com/media/ys25zLolNge9G/giphy.gif">
    </div>
  </div>

</body>
</html>
