<!DOCTYPE html>
<html>
<head>
  <title>{{ mood }} Generator</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="style">
</head>
<body id="happy_body">
  <div id="lit_center">
    <div id="happy_left">
      <p>JAM TO<br>UPBEAT SONGS </p>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A3xgbBiNc7mh3erYsCl8Fwg" width="190" height="60%" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div id="happy_right">
      <p>READ MOTIVATING QUOTES</p>
      <div id="happy_quote">
        <!-- Quotes go here!! -->
        "If you have the opportunity to play this game of life you need to appreciate every moment. a lot of people don't appreciate the moment until it's passed." -KANYE WEST<br>
        <br>
        "The best preparation for tomorrow is doing your best today." -H. JACKSON BROWN, JR.<br>
        <br>
        "Coming together is a beginning; keeping together is progress; working together is success." -HENRY FORD<br>
        <br>
        "Success is not final, failure is not fatal: it is the courage to continue that counts." -WINSTON CHURCHILL<br>
        <br>
        "Always be yourself, express yourself, have faith in yourself, do not go out and look for a successful personality and duplicate it." -BRUCE LEE<br>
        <br>
        "Action is the foundational key to all success." -PABLO PICASSO<br>
        <br>
          </div>
          <br>
          <a href="/feedback">
            <img class="feedback_button" src="https://digitalmarketing.blob.core.windows.net/5941/files/Feedback_Button.png">
          </a>
      </div>
    <div id="happy_middle">
      <p>GOOD VIBES</p>
      <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">what really happens at Google <a href="https://t.co/D47qRDZ6gw">pic.twitter.com/D47qRDZ6gw</a></p>&mdash; Natalee Ryan (@nataIee) <a href="https://twitter.com/nataIee/status/758016697651593216">July 26, 2016</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <img class="lit_images" src="https://66.media.tumblr.com/e1c85a2056f00bf0b9ce5b9dccbebc61/tumblr_n3f4sxwM8E1smqfiko1_500.gif">
      <img class="lit_images" src="https://i.ytimg.com/vi/QUk6tPE4vuI/maxresdefault.jpg">
      <img class="lit_images" src="http://25.media.tumblr.com/c0165e28857ad16bb403f666b05b97d2/tumblr_mveg6jTJdG1r4q586o1_500.gif">
      <img class="lit_images" src="http://31.media.tumblr.com/d6dba3a214b8ead4da3b670f248a0370/tumblr_mp0w2tSvir1r4q586o1_500.gif">
      <img class="lit_images" src="https://media.giphy.com/media/10vZittkvH6l2g/giphy.gif">
    </div>
  </div>

</body>
</html>
