<!DOCTYPE html>
<html>
<head>
  <title>{{ mood }} Generator</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="style">
</head>
<body id="lit_body">
  <a href="/">
    <h1 class="banner">Mood Generator<h1>
  </a>

  <div id="lit_center">
    <div id="lit_left">
      <p>DISCOVER<br> LIT TUNES</p>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify_uk_%3Aplaylist%3A3pWL5FdzK7xyUoSzzQzjLx" width="210" height=65% frameborder="1" allowtransparency="true"></iframe>
    </div>
    <div id="lit_right">
      <p>READ LIT QUOTES</p>
      <div id="lit_quote">
        <!-- Quotes go here!! -->
        "If you have the opportunity to play this game of life you need to appreciate every moment. a lot of people don't appreciate the moment until it's passed." -KANYE WEST<br>
        <br>
        "The best preparation for tomorrow is doing your best today." -H. JACKSON BROWN, JR.<br>
        <br>
        "Coming together is a beginning; keeping together is progress; working together is success." -HENRY FORD<br>
        <br>
        "Success is not final, failure is not fatal: it is the courage to continue that counts." -WINSTON CHURCHILL<br>
        <br>
        "Always be yourself, express yourself, have faith in yourself, do not go out and look for a successful personality and duplicate it." -BRUCE LEE<br>
        <br>
        "Action is the foundational key to all success." -PABLO PICASSO<br>
        <br>
          </div>
          <br>
          <a href="/feedback">
            <img class="feedback_button" src="https://digitalmarketing.blob.core.windows.net/5941/files/Feedback_Button.png">
          </a>
      </div>
    <div id="lit_middle">
      <p> LIT IMAGES</p>
      <img class="lit_images" src="https://66.media.tumblr.com/e1c85a2056f00bf0b9ce5b9dccbebc61/tumblr_n3f4sxwM8E1smqfiko1_500.gif">
      <img class="lit_images" src="https://i.ytimg.com/vi/QUk6tPE4vuI/maxresdefault.jpg">
      <img class="lit_images" src="http://25.media.tumblr.com/c0165e28857ad16bb403f666b05b97d2/tumblr_mveg6jTJdG1r4q586o1_500.gif">
      <img class="lit_images" src="http://31.media.tumblr.com/d6dba3a214b8ead4da3b670f248a0370/tumblr_mp0w2tSvir1r4q586o1_500.gif">
      <img class="lit_images" src="https://media.giphy.com/media/10vZittkvH6l2g/giphy.gif">
    </div>
  </div>

</body>
</html>
