<!DOCTYPE html>
<html>
<head>
  <title>{{ mood }} Generator</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="style">
</head>
<body id="sad_body">
  <a href="/">
    <h1 class="banner">Mood Generator<h1>
  </a>

  <div id="lit_center">
    <div id="sad_left">
      <p>SAD SONGS </p>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Asanik007%3Aplaylist%3A7ABD15iASBIpPP5uJ5awvq" width="215" height="65%" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div id="sad_right">
      <p>BROWSE DEPRESSING QUOTES</p>
      <div id="sad_quote">
        <!-- Quotes go here!! -->
        "The word 'happiness' would lose its meaning if it were not balanced by sadness." -CARL JUNG <br>
        <br>
        "Tears come from the heart and not from the brain." -LEONARDO DA VINCI<br>
        <br>
        "The walls we build around us to keep sadness out also keeps out joy." -JIM ROHN <br>
        <br>
        "Tears are the summer showers to the soul." -ALFRED AUSTIN<br>
        <br>
        "Nothing is more sad than the death of an illusion." -ARTHUR KOESTLER<br>
        <br>
        "Heavy hearts, like heavy clouds in the sky, are best relieved by the letting of a little." -CHRISTOPHER MORLEY<br>
        <br>
          </div>
          <br>
          <a href="/feedback">
            <img class="feedback_button" src="https://digitalmarketing.blob.core.windows.net/5941/files/Feedback_Button.png">
          </a>
      </div>
    <div id="sad_middle">
      <p>GLOOMY VIBES</p>
      <img class="lit_images" src="http://33.media.tumblr.com/tumblr_lv6bvbfp6e1r1yutvo1_500.gif">
      <img class="lit_images" src="https://m.popkey.co/ab2064/8M1J0.gif">

      <iframe class="lit_images" src="https://www.youtube.com/embed/RgKAFK5djSk?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

      <img class="lit_images" src="http://33.media.tumblr.com/83edd69c7fb6aff354676cb4b0ff998d/tumblr_mx4s1x0xd11szol4po1_500.gif">
      <img class="lit_images" src="http://31.media.tumblr.com/940f60067b1b80c3ce21d25bff25c51d/tumblr_mngb2jFLB11riolmio1_500.gif">
      <img class="lit_images" src="https://media.giphy.com/media/4zeAMC4J7T4MU/giphy.gif">
      <blockquote class="twitter-video" data-lang="en"><p lang="en" dir="ltr">what really happens at Google <a href="https://t.co/D47qRDZ6gw">pic.twitter.com/D47qRDZ6gw</a></p>&mdash; Natalee Ryan (@nataIee) <a href="https://twitter.com/nataIee/status/758016697651593216">July 26, 2016</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <img class="lit_images" src="https://secure.static.tumblr.com/ebcae17eee5bfb610c0afb5701198db4/pi74c2x/xy1nmb3wt/tumblr_static_tumblr_static_b4rb8mtaw9c8cwgo0g4cswscc_640.gif">
      <img class="lit_images" src="https://66.media.tumblr.com/43a02d425f36e5a35becc5a39caa4bef/tumblr_nn86gouEZC1rz8mvdo1_500.gif">
      <img class="lit_images" src="https://media.giphy.com/media/hAFPXyh2lHdfO/giphy.gif">

      <iframe class="lit_images" src="https://www.youtube.com/embed/BTJH3CP23DI?rel=0&amp;controls=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>

      <img class="lit_images" src="http://f.tqn.com/y/healing/1/W/u/x/1/gi-fall-season-sad.jpg">
      <img class="lit_images" src="http://i.amz.mshcdn.com/07TXFFAdiXVg24QSoVO2G5ohTmU=/fit-in/1200x9600/http%3A%2F%2Fmashable.com%2Fwp-content%2Fuploads%2F2013%2F07%2Fcrying-waterfalls.gif">
      <img class="lit_images" src="http://24.media.tumblr.com/c5005330c2e7766b351b022548612fba/tumblr_mlw31uhPhd1sownz1o1_500.gif">
      <img class="lit_images" src="http://66.media.tumblr.com/tumblr_lxhf0olmxr1qm6oc3o1_500.gif">
      <img class="lit_images" src="http://25.media.tumblr.com/tumblr_mct8ptMPth1r1mr1po1_500.gif">
      <img class="lit_images" src="http://www.eonline.com/eol_images/Entire_Site/2014631/rs_500x212-140731100732-insta.gif">
      <iframe class="lit_images" src="https://www.youtube.com/embed/MYSVMgRr6pw?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      <img class="lit_images" src="http://25.media.tumblr.com/0966789ec7810fa7c73c35198ec4708c/tumblr_mmffawnNwO1rsq9eyo2_r1_500.gif">
      <img class="lit_images" src="http://s7.favim.com/orig/150404/disney-movie-quotes-sad-Favim.com-2621824.gif">
      <img class="lit_images" src="http://media1.giphy.com/media/DDQ3n3LteO4co/giphy.gif">
      <iframe class="lit_images" src="https://www.youtube.com/embed/HaMq2nn5ac0?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      <img class="lit_images" src="http://bestanimations.com/Nature/Storms/black-white-thundercloud-lighting-strikes-storm-animated-gif.gif">
      <img class="lit_images" src="https://media.giphy.com/media/n6SxTZqymnrhe/giphy.gif">
      <img class="lit_images" src="https://media.giphy.com/media/UGhCF5Okao0eY/giphy.gif">
    </div>
  </div>

</body>
</html>
