<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="style">
  <title>Trump Generator</title>
  <link rel="stylesheet" href="static/style.css">
  <script src='./scripts/trumpad.js'></script>
</head>
<body>
  <h1 class='header'>TrumPad</h1>

  <section id="sp">
    <div id="pad1" data-sound="kick.wav"></div>
    <div id="pad2" data-sound="snare.wav"></div>
    <div id="pad3" data-sound="tin.wav"></div>
    <div id="pad4" data-sound="hat.wav"></div>
  </section>
</body>
</html>

<script src="main.js"></script>
